# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/
ENV/

# Local environment files
.env
.env.*

# Tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build output
build/
dist/
*.egg-info/

# Editor/OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
# Temporary file for partial code execution
tempCodeRunnerFile.py

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml


# Credentials
backend/credentials/google_credentials.json
backend/credentials/token.json
